.navbar{
    background: #8D2A2A;
    /* height: 20px; */
    width: 100%;
    padding: 10px 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo{
    height: 50px;
    width: 100px;

}

.brand-logo img{
    height: 100%;
    width: 100;
    object-fit: contain;
}

.nav-menu{
    display: flex;
    justify-content: end;
    align-items: center;

}

.nav-menu .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nav-menu .nav-links .nav-items{
    margin-right: 10px;
    padding: 5px 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.nav-menu .nav-links .nav-items:hover{
    font-weight: 500;
}