.table-container{
    /* background: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 90vh;
}

.main-item {
    padding: 10px;
    background-color: #fff;
    width: 700px;
  }
  
  .background-masker {
    background-color: #fff;
    position: absolute;
  }
  
  .btn-divide-left {
    top: 0;
    left: 25%;
    height: 100%;
    width: 5%;
  }
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -800px 0
    }
    100% {
      background-position: 800px 0
    }
  }
  
  .animated-background {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 70px;
    position: relative;
  }
  
  .static-background {
    background-color: #f6f7f8;
    background-size: 800px 104px;
    height: 70px;
    position: relative;
    margin-bottom: 20px;
  }
  
  .shared-dom {
    width: 800px;
    height: 110px;
  }
  .sub-rect {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    float: left;
    margin: 20px 20px 20px 0;
  }
  .pure-background {
    background-color: #eee;
  }
  
.table-content{
    width: 100%;
    /* background: green; */
}

table{
    border-spacing: 0 !important;
    border-collapse: collapse;
    width: 100%;
}

.cust-table{
    text-align: center;
    outline: solid 1px #2727274d;
    border-radius: 8px;
    overflow: hidden;
}

.cust-thead{
    border-bottom: solid 1px #2727274d !important;
    /* background-color: chartreuse; */
}

th, td{
    padding: 10px 20px;
    margin:0;
    /* background-color: #f1f1f1; */
}

tr > th:not(:last-child), td:not(:last-child){
    border-right: solid 1px #2727274d;
}

.cust-tbody{
    color: #000000ce;
}

.cust-tbody tr:hover{
    background: #f1f1f1d8;
    cursor: pointer;
}

#action-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    font-weight: 500;
    color: #000000f3;
    transition: all 0.2s ease-in-out;
}

#action-items > p:hover{
    text-decoration: underline;
}