.navbar{
    background: #8D2A2A;
    /* height: 20px; */
    width: 100%;
    padding: 10px 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo{
    height: 50px;
    width: 100px;

}

.brand-logo img{
    height: 100%;
    width: 100;
    object-fit: contain;
}

.nav-menu{
    display: flex;
    justify-content: end;
    align-items: center;

}

.nav-menu .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nav-menu .nav-links .nav-items{
    margin-right: 10px;
    padding: 5px 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.nav-menu .nav-links .nav-items:hover{
    font-weight: 500;
}

.hamburger-menu{
    display: none;
}

.theme-container{
  margin-right: 10px;
}

@media (width < 750px) {
    .nav-menu{
        flex-direction: column;
        color: #000;
        width: 100%;
        padding: 15px 0;
        position:absolute;
        right: -100%;
        top: 70px;
        transition: all 0.2s ease-in-out;
        overflow: hidden;
        display: none;
    }
  .nav-menu.open {
    display: flex;
    right:0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .nav-items {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
  }
 
  .nav-auth {
    padding: 15px 0 5px;
    text-align: center;
  } 

  .theme-container{
    margin-top: 10px;
  }

  .hamburger-menu {
    display: block;
  }
}