.signin-page, .signup-page{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.signin-container, .signup-container{
    border: solid 2px #8D2A2A;
    padding: 20px 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field-restrict{
    padding: 0px;
}

.signin-content, .signup-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email-input-field{
    display: inline-flex;
    width: 60%;
}

.other-options{
    border-top: solid 1px #21212161;
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0px;
}

.other-options span{
    margin-left: 5px;
}
