.catalog-layout {
    display: flex;
    flex-wrap: wrap;
    width: fit-content; 
  }
  
.catalog-contents {
    display: flex;
    flex-direction: column;
    flex: 3;
    width: 100%;
    border: 0px solid #ccc;
  }

  .catalog-box{
    border: 1px solid #ddd;
    /* margin: 5px; */
    /* padding: 5px; */
    width: 100%; /* Adjust based on your preference */
  }
  .catalog-category {
    flex: 1;
    margin: 10px;
  }
  
  .category-section {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .classes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
  }
  
  .class-box {
    border: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    width: 200px; /* Adjust based on your preference */
  }
  
  .semester-box {
    margin-top: 10px;
  }
  
  .semester-title {
    font-weight: bold;
  }
  
  .class-lists {
    margin-top: 5px;
  }
  